/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  background-color: lightcoral;
  color: #fff;
}

.success {
  background-color: lightgreen;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,.6);
}
